body {
    margin: 0;
    padding: 0;
}

main {
    width: 1200px;
    max-width: 80%;
    min-width: 1000px;
    margin: 0 auto;
}
#social-media{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.social-media {
    display:flex;
    justify-content: center;
}

span{
    color: black;
}

.social-media img{
    width: 60px;
    height: auto;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

header {
    display: block;
    height: 50 px;
}

.menu-button {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name img {
    padding-top: 10px;
width: 250px;
}


header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
}

header li:hover {
    background-color: #A77B4F;
    color: white;
    border-radius: 5px;
}

.logo img {
    width: 50px;
    height: auto;
}

header {
    max-width: 1200px;
    margin: 0 auto;
}

.name {
    text-align: center;
    width: 200px;
    margin-right: 20px;
}

.name h1 {
    font-family: 'Comfortaa';
    font-size: larger;
    margin-bottom: 8px;
    font-weight: normal;
}

.name hr {
    width: 100%;
    border: none;
    border-top: 2px solid #333;
    margin: 0 auto;
}

.name h2 {
    margin: 8px auto;
    font-size: large;
    font-family: 'Inter';
    font-weight: normal;
    font-family: 'Comfortaa';
}

section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

section img {
    width: 55%;
    max-width: 650px;
    object-fit: contain;
    height: auto;
}


#Title {
    width: 80%;
    margin: 100px auto;
    margin: 100px auto 50px auto;
    text-align: center;
    align-items: flex-start;
}

#Title img {
    width: 120px;
    padding-right: 20px;
}

#Title h3 {
    width: 100%;
    font-weight: normal;
    font-family: 'Newsreader';
    margin: 20px auto 60px auto;
    font-size: 3em;
    letter-spacing: -2px;
}

.defaultSection {
    padding-top: 20px;
}

.defaultSection p {
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Inter', sans-serif;
    font-size: 1.15em;
    line-height: 1.6;
}

.defaultSection h5 {
    width: 100%;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    margin: 2px auto;
    font-size: 1.1em;
}

.defaultSection li {
    text-align: justify;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1.15em;
    line-height: 1.8;
}

#AreasAtuacao li {
    text-align: justify;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1.15em;
    line-height: 1.6;
}

#localAtendimento {
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}

.titulo-secao {
    width: 100%;
    font-weight: normal;
    font-family: 'Newsreader', sans-serif;
    margin: 20px auto;
    font-size: 3em;
    letter-spacing: -2px;
}

/* #localAtendimento h3 {
    font-family: 'Newsreader', sans-serif;
    font-weight: normal;
    font-size: 1.8em;
    letter-spacing: -2px;
} */

#localAtendimento p {
    margin: 5px auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.button-primary {
    background-color: #A77B4F;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.15em;
    width: 67%;
    max-width: 300px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.button-primary:hover{
    background-color: #8B6641;
    transform: scale(1.01);
}

footer {
    height: 20px;
    width: 100%;
    background-color: #A77B4F;
    margin-top: 20px;
}

.text-container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}


/* Mobile Styles */
@media (max-width: 900px) {

    main {
        width: 80%;
        min-width: 200px;
        margin: 0 auto;
    }

    section {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    section img {
        width: 100%;
        height: auto;
    }

    .row-reverse {
        flex-direction: column;
    }

    /* Header Styling */
    header {
        position: fixed;
        /* Make the header stay fixed */
        top: 0;
        /* Position it at the top of the viewport */
        width: 100%;
        /* Make it full width */
        z-index: 10;
        /* Ensure it stays on top of other content */
        background-color: #fff;
        /* Optional: Set a background color */
        padding: 10px;
        /* Optional: Add padding */
        align-items: center;
        display: flex;
        /* justify-content: space-between; */
        transition: top 0.3s ease;
        /* Add a transition for smooth movement */
    }

    /* Hide the header when scrolling down */
    header.hidden {
        top: -100px;
        /* Move the header off-screen */
    }

    /* Show the header when scrolling up */
    header.visible {
        top: 0;
        /* Position the header at the top */
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    header li {
        width: 100%;
        float: left;
        clear: left;
    }

    .logo-name{
        margin: 0 auto;
    }
    .logo img {
        width: 50px;
        height: auto;
    }

    /* Name Styling */
    .name {
        text-align: center;
        width: 200px;
        margin-right: 20px;
    }

    .name h1 {
        font-family: 'Comfortaa';
        font-size: larger;
        margin-bottom: 8px;
        font-weight: normal;
    }

    .name hr {
        width: 100%;
        border: none;
        border-top: 2px solid #333;
        margin: 0 auto;
    }

    .name h2 {
        margin: 8px auto;
        font-size: large;
        font-family: 'Inter';
        font-weight: normal;
        font-family: 'Comfortaa';
    }

    /* Menu Button Styling */
    .menu-button {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #333;
        transition: transform 0.3s ease;
        border-radius: 1.5px;
    }

    /* Menu Button Active State */
    .menu-button.active .bar:nth-child(2) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-button.active .bar:nth-child(3) {
        opacity: 0;
    }

    .menu-button.active .bar:nth-child(4) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .dropdown-menu {
        display: none;
        /* Initially hidden */
        position: absolute;
        /* Position relative to parent */
        top: 100%;
        /* Below the button */
        left: 0;
        /* Aligned with the button */
        width: 100%;
        /* Full width */
        background-color: #fff;
        /* White background */
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        /* Add a shadow */
        z-index: 1;
        /* Ensure it's on top */
    }

    .dropdown-menu ul {
        list-style: none;
        /* Remove bullet points */
        padding: 0;
        margin: 0;
    }

    .dropdown-menu li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        /* Add a border */
        text-align: center;
        /* Center the text */
        font-family: 'Inter', sans-serif;
    }

    .dropdown-menu li:last-child {
        border-bottom: none;
        /* Remove border from last item */
    }

    .dropdown-menu a {
        text-decoration: none;
        /* Remove underline */
        color: #333;
        /* Dark text color */
    }

    .titulo-secao {
        width: 100%;
        font-weight: normal;
        font-family: 'Newsreader', sans-serif;
        margin: 20px auto;
        font-size: 2.5em;
        letter-spacing: -2px;
    }

    .text-container {
        max-width: 100%;
        padding: 0;
    }

    #Title {
        width: 100%;
        margin-top: 150px;
        margin-bottom: 0px;
        text-align: center;
        display: block;
    }

    #Title img {
        display: none;
    }

    /* Heading 3 Styling */
    #Title h3 {
        width: 100%;
        font-weight: normal;
        font-family: 'Newsreader', sans-serif;
        margin: 20px auto;
        font-size: 2em;
        letter-spacing: -2px;
    }

    #Title button {
        display: none;
    }
}
